body{
    background-color: rgb(250, 253, 247);
}
img{
    height:100px;
    width:100px;
    padding:10px;
}
/* classes */
.header{
    display:flex;
    justify-content:center;
    align-items:center;
}
.main{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
/* ids */
#welcome_user{
    font-size:25pt;
    font-weight:bold;
}

table {      
    border-collapse: collapse; 
    border: none; 
    margin: 25px auto;
    width:auto;
    /* left:120px; */
}	

th, td { border: 1px solid #ddd; padding: 4px; 	}
