/* tag names */
body{
    background-color: rgb(250, 253, 247);
    width:100%;
}
img{
    height:100px;
    width:100px;
    padding:10px;
}
/* classes */
.main{
    margin:0 auto;
}
.container{
    display:flex;
    justify-content:center;
    align-items:center;
}
.header{
    display:flex;
    justify-content:center;
    align-items:center;
}
