/* tag names */


body{
    background-color: rgb(250, 253, 247);
    width:100%;
}
img{
    height:100px;
    width:100px;
    padding:10px;
}
table {      
    border-collapse: collapse; 
    border: none; 
    margin: 25px auto;
    width:auto;
}	

th, td { 
    border: 1px solid #ddd; padding: 4px; 	
    text-align:center;
}
/* classes */
.header{
    display:flex;
    justify-content:center;
    align-items:center;
}
.main{
    display:block;
    width:100%;
}
.user_courses{
    display:flex !important;
    flex-direction: row !important;
}
.user_courses table{
    margin:10px;
    padding:10px;
}
